/* This file homes css for the home page */

header {
    max-width: 100%;
}

body {
    display: flex;
    align-items: center;
}

.top-character {
    max-width: 50%;
    max-height: 100%;
    float: right;
    font-size: 20px;
    padding-left: 30px;
    margin: 10px;
}

.introduction {
    width: 50%;
    font-size: 20px;
}